/* Thiết lập kiểu cho bảng */
.book-table {
    width: 100%;
    /* Chiều rộng của bảng là 100% của trang */
    border-collapse: collapse;
    /* Loại bỏ khoảng cách giữa các ô */
}

/* Thiết lập kiểu cho các ô trong bảng */
.book-table td {
    padding: 0px;
    /* Khoảng cách giữa nội dung và viền của ô */
    border: 1px solid #ccc;
    /* Định dạng viền của ô */
    margin: 0px;
}

/* Thiết lập kiểu viền cho hình ảnh sách */
.book img {
    margin-top: 3px;
    background-color: white;
    width: 150px;
    height: 200px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Thiết lập kiểu chữ cho tiêu đề sách */
.book-title {
    font-size: 1.2em;
    margin-top: 0;
    text-align: left;
    margin-left: 3px;
}

/* Thiết lập kiểu chữ cho giá sách */
.book-price {
    font-weight: bold;
    margin-left: 3px;
}

/* Thiết lập kiểu chữ cho phần trăm giảm giá */
.discount {
    color: red;
    margin-left: 3px;
}

/* Thiết lập kiểu chữ cho ghi chú sản phẩm */
.note {
    font-style: italic;
    color: #666;
    margin-left: 3px;
}

.authenticity img {
    width: 20px;
    /* Điều chỉnh kích thước theo ý muốn */
    vertical-align: middle;
    /* Canh dọc giữa với văn bản */
    margin-right: 5px;
    /* Khoảng cách với văn bản */
}

.azh-container {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    /* Căn các phần tử với khoảng cách đều giữa chúng */
}

.azh {
    flex: 0 1 calc(33.33% - 20px);
    background-color: white;
    margin-right: 20px;
    border-radius: 7px;
    position: relative; /* Thêm này để hiệu ứng vệt sáng hoạt động bình thường */
    overflow: hidden; /* Thêm này để ẩn phần vệt sáng ngoài khung */
}

.azh:hover {
    box-shadow: 5px 5px 5px rgb(86, 86, 86);
    /* background-color: rgba(128, 128, 128, 0.385);
    transform: scale(1.05); */
    overflow: hidden;
    animation: taoVetSang 1s infinite;
}

.book-details {
    padding: 10px;
}

@keyframes TaoVetSang {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}